.App {

  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #282c34;
  min-height: 100vh;
  padding: 10vh 0;

}

.App-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.container {
  width: 60vw;
  margin: 0 auto;
}

.App-selections {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 4vh;
}

.App-selections label{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: #ffff;
}

.number-input {
  height: 21px;
  padding: 4px;
  margin-right: 12px;
}

.selection {
  padding: 6px;
}

.output-paragraph {
  background-color: #303030;
  color: #fff;
  padding: 4vh;
}

hr {
  width: 60vw;
  margin: 2vh;
}
